*
{
    
    
    padding: 0;
    margin: 0;
    
}

header
{
    
  width: 100%;  
    background-color: #E9E9E9;
}

container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}


#logo
{
    width: 11%;
    padding: 10px 0px 0px 10px;
    
}

h1
{
    margin-top: 40px;
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
    
}

#language
{
    width: 175px;
    height: 30px;
    margin: 40px 15px 0px 0px;
    color: black;
    background-color: orange;
    border: solid grey 2px;
    border-radius: 20px;
    
}

#pres
{
    
    display: flex;
    justify-content: center;
    
}

#presentation

{
    
    width: 50%;
    margin-top: 20px;

}

#produits
{
    
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    
    
    
}

#p1
{
    
    width: 60%;
    display: flex;
    align-items: center;
     
}


hr
{
    width: 50%;
    height: 2px;
    background-color: orange;
    border: none;
    margin: auto;
    
}

#reservation
{
    
    
    width: 150px;
    height: 35px;
    border-radius: 25px;
    color: black;
    background-color: orange;
    border: solid grey 2px;
    
}
/*
#smart-button-container

{
    
    height: 25px;
    text-align: center;
    width: 50%;
   
    
}
*/
footer, #foot, #foot2
{
    
    width: 100%;
    background-color: orange;
    margin-top: 25px;
    font-size: 25px;
    color: black;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    
    
}

h2, #h2
{
    
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    
}

h3
{
    
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
    
}

#description
{
    
    font-size: 18px;
    
}

#bloc, #sec, #abteilung_section
{
    display: flex;
    width: 80%;
    height: 500px;
    /*background-color: black;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    
}

#pt1, #pt2, #prod
{
    
    width: 35%;
    height: 400px;
    margin: auto;

    
}

#photo, #texte, #photoprod
{
    
    width: 90%;
    
}


#photo, #photoprod
{
    
    height: 300px;
    /*background-color: green;*/
    margin: auto;
    margin-top: 10px;
    
}

#texte
{
    
     border-style: solid;
    border-color: orange;
    border-radius: 20px;
    /*background-color: red;*/
    height: 100px;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    
}

#navire, #ammo, #AK, #tamiya, #abteilung, #ammo2, #AK2, #Green_stuff
{
    
    width: 100%;
    height: 90%;
    border: solid orange 3px;
    border-radius: 50px;
    
}

#service,
{
    
    
    text-align: left !important;
    
    
}

p
{
    
    font-size: 22px;
    
}

ul
{
    
    list-style: none;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    
}

dt, h3
{
    
    text-align: left;
    font-weight: normal;
    
   
    
}

dd
{
    
    font-size: 20px;
    
}

.hr
{
    
    width: 50%;
    height: 2px;
    
}

#navigation
{
    
    margin-top: 2%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    
    
}

#h2
{
    
    margin-bottom: 50px;
    
}

#ammo, #AK, #tamiya, #abteilung, #Green_stuff
{
    width: 75% !important;
    height: 75% !important;
    
    
}

#sec
{
    
    margin-right: auto;
    margin-left: auto;
    
}

#photoprod
{
    
    padding-left: 50px;
    
}

#foot
{
    
    position: absolute;
    bottom: 0;
    
}

nav ul li a
{

    text-decoration: none;
    color: black;
    
}

nav ul li a:hover
{
    
    text-decoration: underline orange 5px !important;
    transition-duration: .5s;
    
}

#services
{
    
    text-decoration: underline orange 3px;
    
}

#foot2
{
    
    position: relative;
    bottom: auto;
    
}

#abteilung_section
{
    
    height: 400px;
    margin-bottom: 0px;
    
}

#AK2, #ammo2
{
    
    width: 55% !important;
    height: 70% !important;
    margin-right: 50px;
    
}

.absec
{
    
    margin-right: 125px !important;
    
}

.margtop
{
    
    margin-top: 50px;
    
}